@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap');

:root {
  font: 16px / 1 sans-serif;
  --background-gradient-top: #eee2af;
  --background-gradient-bottom: #7fc2dd;
  --img-border: #65bfe2;
  --map-border: rgb(212, 203, 186);
  --page-text: #3b1b09;
  --heart: rgb(230, 64, 13);
  --paw: saddlebrown;
  --h1-font: 'Alegreya Sans SC', sans-serif;
  --form-border: rgba(243, 61, 20, 0.92);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--background-gradient-top),
    var(--background-gradient-bottom)
  );
  color: var(--page-text);
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
}

header {
  display: flex;
  justify-content: center;
}

.top-nav ul {
  display: flex;
  justify-content: space-evenly;
  // align-content: flex-end;
  background-color: var(--form-border);
  border-radius: 50% 20% / 10% 40%;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.breadcrumb ul {
  display: flex;
  justify-content: start;
  font-size: small;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 45px;
  margin: 0;
  padding-bottom: 15px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
}
.seal {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 250px;
}
main {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.search {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.map {
  display: flex;
  justify-content: center;
}
.map-image {
  display: flex;
  justify-content: center;
  width: 225px;
  height: 225px;
  background-color: var(--background-gradient-bottom);
  border: var(--map-border);
  border-width: 3px;
  border-style: solid;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5%;
}

.listing-name {
  display: flex;
  justify-content: center;
}

.listing-photo img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 100px;
  border: var(--img-border);
  border-width: 3px;
  border-radius: 5%;
  border-style: solid;
}

.login,
.new-account {
  border-radius: 5px;
  border: 3px;
  border-color: var(--form-border);
  border-style: solid;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: center;
}

.dropdown {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.new-listing,
.update-listing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 13px;
  font-size: small;
  border-radius: 5px;
  border-color: var(--form-border);
  border-style: solid;
}

.create-button,
.update-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

ul.listing1,
ul.listing2,
ul.listing3 {
  display: flex;

  justify-content: center;
  padding: 0;
  margin: 0;
}
.contact-buttons ul {
  display: flex;
  justify-content: space-around;
}

.contact-buttons ul li {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 5px;
}

footer {
  border-top: 0.5px solid var(--form-border);
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.heart {
  color: var(--heart);
}

.paw {
  color: var(--paw);
  transform: rotate(35deg);
}

@media only screen and (max-width: 768px) {
  .pages {
    font-size: 2.5rem;
  }
}
