@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

:root {
  font: 16px / 1 sans-serif;
  --background-gradient-top: #fcfbc5;
  --background-gradient-bottom: #ffffff;
  --form-error-background: rgb(240, 240, 124);
  --img-border: rgba(243, 61, 20, 0.92);
  --map-border: rgb(212, 203, 186);
  --page-text: #46230f;
  --heart: rgb(230, 64, 13);
  --paw: saddlebrown;
  --admin-background-color: rgb(212, 203, 186);
  --form-border: rgba(243, 61, 20, 0.92);
  --h1-font: 'Alegreya Sans SC', sans-serif;
  --h2-font: 'Merienda', cursive;
  margin: 0;
}

.breadcrumb-icon {
  color: rgb(80, 132, 172);
}

html {
  height: 100%;
}

main {
  margin: 0;
  min-height: 100vh;
  color: var(--page-text);
  font-family: var(--body-font);
  margin-left: 10px;
}

header {
  position: sticky;
  top: 0;
}

body {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(225, 225, 225);
  position: sticky;
  background-color: khaki;
}

.nav ul {
  display: flex;
  align-content: center;
  text-decoration: none;
  margin: 0;
}

.nav li {
  font-size: 28px;
}

.nav li + li {
  padding-left: 1rem;
  font-size: 28px;
}

.nav-left img {
  vertical-align: bottom;
}

.nav-right {
  padding-right: 10px;
}

.nav-right a {
  text-decoration: none;
  color: inherit;

  font-size: 28px;
}

.nav-right a:hover {
  color: rgba(243, 61, 20, 0.92);
}

button,
select {
  box-shadow: 0px 1px 0px 0px #aff3ff;
  background: linear-gradient(to bottom, #64ceff 5%, #23a7ff 100%);
  background-color: #64ceff;
  border-radius: 5px;
  border: 1px solid #4d2210;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #66edff;
}

.asterisks {
  color: red;
}

button:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

select {
  background: linear-gradient(to bottom, #2395ff 5%, #64c6ff 100%);
  background-color: #ffab23;
}

button:active,
select,
.file-upload {
  position: relative;
  top: 1px;
}

input,
textarea {
  background-color: rgb(223, 228, 241);
  border-radius: 5px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.breadcrumb ul {
  display: flex;
  justify-content: flex-start;
  font-size: small;
  padding-top: 5px;
  padding-left: 15px;
}

.breadcrumb a {
  text-decoration: none;
  color: inherit;
}

.breadcrumb-icon a:hover {
  color: rgba(126, 37, 17, 0.92);
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  align-items: center;
  color: rgb(240, 47, 26);
}

h2,
h3 {
  font-family: var(--h2-font);
  margin: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
}
.seal {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 250px;
}

.about {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

input,
textarea {
  max-width: 500px;
}

textarea {
  max-width: 500px;
  height: 4rem;
  margin-top: 10px;
}

.top-nav {
  display: flex;
}

.search {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  height: 30px;
}

.search-nav {
  width: auto;
  margin-right: 10px;
}

.search-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-box,
.search-dropdown {
  display: flex;
  justify-content: center;
}

.key-header {
  height: auto;
}

.key-icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 5px;
}

.key-icons ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 1rem;
  border-color: rgb(206, 69, 20);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.key-icons li {
  display: flex;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.key-left,
.key-right {
  margin: 2rem;
}

.mapboxgl-popup {
  z-index: 1;
}

.map {
  margin: 2rem;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 300px;
  background-color: var(--background-gradient-bottom);
  border: var(--map-border);
  border-color: rgb(240, 47, 26);
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.home-map {
  margin: 2rem;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 600px;
  background-color: var(--background-gradient-bottom);
  border: var(--map-border);
  border-color: rgb(240, 47, 26);
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.map-button {
  display: flex;
  justify-content: center;
}

.key-types,
.map {
  display: flex;
  justify-content: center;
  // margin-left: 2rem;
  // margin-right: 1rem;
}

.mapboxgl-popup-close-button {
  margin-left: 1px;
  padding: 2px;
  position: relative;
  border-radius: 5px;
}
.mapboxgl-popup-content {
  margin-right: 1px;
}

.adoptions-icon {
  color: rgb(180, 19, 186);
}

.dining-icon {
  color: rgb(148, 65, 26);
}

.grooming-icon {
  color: rgb(8, 157, 194);
}

.medical-icon {
  color: rgb(228, 49, 49);
}

.pet-care-icon {
  color: rgb(179, 90, 17);
}

.recreation-icon {
  color: rgb(50, 138, 26);
}

.residential-icon {
  color: rgb(184, 169, 0);
}

.shopping-icon {
  color: rgb(72, 85, 160);
}

.vacation-icon {
  color: rgb(113, 13, 171);
}

.listing-heading,
.listing-type,
.listing-address {
  margin-left: 2rem;
  margin-right: 2rem;
}

.listing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.listing li {
  width: auto;
}

ul.listing {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

.listing-display {
  border-color: rgb(206, 69, 20);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgb(253, 255, 224);
}

.listing-heading a,
a.listing-website,
.map-link a,
.mapboxgl-popup-content a,
.phone a {
  text-decoration: none;
  color: inherit;
  color: rgb(80, 132, 172);
}

.listing-heading a:hover,
a.listing-website:hover,
.map-link a:hover,
.mapboxgl-popup-content a:hover,
.phone a {
  text-decoration: none;
  color: rgb(240, 47, 26);
}

.listing-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.listing-graphics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.listing-photo img {
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 350px;
  height: auto;
  border: var(--img-border);
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
}

.listing-detail-map {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 300px;
  background-color: var(--background-gradient-bottom);
  border-color: rgb(240, 47, 26);
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.description {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.logout {
  display: flex;
  align-self: flex-end;
  margin-left: 5px;
}

.link {
  margin-left: 1rem;
}

.login,
.new-account {
  border-radius: 5px;
  border: 3px;
  border-color: var(--form-border);
  border-style: solid;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.login-button {
  margin-top: 1rem;
}

.picture-upload {
  padding-left: 20px;
}

.input-form-instructions {
  padding-left: 20px;
}

.admin-page {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 3px;
  border-color: var(--form-border);
  border-style: solid;
  margin: 10px;
  padding: 23px;
  background: linear-gradient(
    to bottom,
    var(--background-gradient-top),
    var(--background-gradient-bottom)
  );
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.dropdown {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.new-listing,
.update-listing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 13px;
  font-size: small;
  border-radius: 5px;
  border-color: var(--form-border);
  border-style: solid;
}

.new-user-form {
  margin-left: 65px;
  margin-right: 65px;
  padding-bottom: 30px;
}

.form-error {
  background-color: var(--form-error-background);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.update-listing-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.delete-button {
  margin-left: 10px;
}

ul.listing {
  border-radius: 5px;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding: 0;
  margin-top: 2rem;
  width: auto;
}

.contact-buttons ul,
.rating {
  display: flex;
  justify-content: space-around;
}

.useful {
  color: rgb(27, 120, 104);
}
.not-useful {
  color: rgb(228, 83, 57);
  transform: rotate(180deg);
}

.contact-buttons ul li {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 5px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  font-family: var(--h2-font);
  font-size: 11px;
  background-color: rgb(157, 221, 240);
  position: relative;
  height: 45px;
  align-items: center;
}

.footer-left ul {
  display: flex;
  justify-content: space-around;
}

.footer-left li + li {
  padding-left: 1rem;
}
.heart {
  color: var(--heart);
}

.paw {
  color: var(--paw);
  transform: rotate(35deg);
}

.facebook {
  color: blue;
  font-size: 28px;
}
.instagram {
  color: blueviolet;
  font-size: 28px;
}

.construction {
  display: flex;
  justify-content: center;
  color: rgb(228, 83, 57);
}

@media only screen and (max-width: 768px) {
  .pages {
    font-size: 2.5rem;
  }
}
