@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

:root {
  font: 16px / 1 sans-serif;
  --background-gradient-top: #eee2af;
  --background-gradient-bottom: #7fc2dd;
  --img-border: #65bfe2;
  --map-border: rgb(212, 203, 186);
  --page-text: #46230f;
  --heart: rgb(230, 64, 13);
  --paw: saddlebrown;
  --admin-background-color: rgb(212, 203, 186);
  --form-border: rgba(243, 61, 20, 0.92);
  --h1-font: 'Alegreya Sans SC', sans-serif;
  --h2-font: 'Merienda', cursive;
  // --body-font: 'Poiret One', cursive;

  // font-family: 'Quattrocento Sans', sans-serif;
}

.breadcrumb-icon {
  color: var(--img-border);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  height: 100vh;
  // background: linear-gradient(
  //   to bottom,
  //   var(--background-gradient-top),
  //   var(--background-gradient-bottom)
  // );
  color: var(--page-text);
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
  font-family: var(--body-font);
}

header {
  display: flex;
  justify-content: center;
}

.top-nav ul {
  display: flex;
  justify-content: space-evenly;
  // background-color: var(--form-border);
  background: linear-gradient(
    to bottom,
    var(--background-gradient-top),
    var(--background-gradient-bottom)
  );
  // border-radius: 55% 20% / 10% 45%;
  border-radius: 15%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: var(--h2-font);
}

.nav-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: slateblue;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.breadcrumb ul {
  display: flex;
  justify-content: flex-start;
  font-size: small;
}

// button {
//   border: var(--form-border);
//   background-color: white;
//   border-width: 2px;
//   border-radius: 5px;
//   color: var(--page-text);
// }

// button.hover {
//   border: var(--form-border);
//   background-color: rgb(184, 182, 182);
//   border-width: 2px;
//   border-radius: 5px;
//   color: var(--form-border);
// }

// button.hover {
//   border: var(--form-border);
//   background-color: rgb(126, 126, 126);
//   border-width: 2px;
//   border-radius: 5px;
//   color: var(--form-border);
// }

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 45px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid var(--form-border);
  margin-top: 10px;
  // display: flex;
  // justify-content: center;
}

h2 {
  font-family: var(--h2-font);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
}
.seal {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 250px;
}
main {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

input,
textarea {
  max-width: 500px;
}

textarea {
  max-width: 500px;
  height: 4rem;
  margin-top: 10px;
}

.admin-logout {
  display: flex;
  // line-height: 1.5;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}

.search {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.search-options {
  display: flex;
  justify-content: space-evenly;
}

.search-dropdown {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.map {
  display: flex;
  justify-content: center;
}
.map-image {
  display: flex;
  justify-content: center;
  width: 225px;
  height: 225px;
  background-color: var(--background-gradient-bottom);
  border: var(--map-border);
  border-width: 3px;
  border-style: solid;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5%;
}

.listing-name {
  display: flex;
  justify-content: center;
}

.listing-photo img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 100px;
  border: var(--img-border);
  border-width: 3px;
  border-radius: 5%;
  border-style: solid;
}

.logout {
  display: flex;
  align-self: flex-end;
  // margin-top: 20px;
  margin-left: auto;
}

.login,
.new-account {
  border-radius: 5px;
  border: 3px;
  border-color: var(--form-border);
  border-style: solid;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: center;
  align-items: center;
}

.picture-upload {
  padding-left: 20px;
}

.input-form-instructions {
  padding-left: 20px;
}

.admin-page {
  // background-color: var(--admin-background-color);
  background: linear-gradient(
    to bottom,
    var(--background-gradient-top),
    var(--background-gradient-bottom)
  );

  margin-top: 4rem;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.contact-details {
  border-radius: 5px;
  border: 3px;
  border-color: var(--form-border);
  border-style: solid;
  margin: 10px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: center;
  background: linear-gradient(
    to bottom,
    var(--background-gradient-top),
    var(--background-gradient-bottom)
  );
}

.dropdown {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.new-listing,
.update-listing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 13px;
  font-size: small;
  border-radius: 5px;
  border-color: var(--form-border);
  border-style: solid;
}

.create-button,
.update-button,
.delete-button,
.login-button,
.new-account-button,
.new-listing-button,
.create-new-account-button {
  width: max-content;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.update-listing-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

ul.listing {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin-top: 2rem;
  width: 30rem;
  background: linear-gradient(
    to bottom,
    var(--background-gradient-top),
    var(--background-gradient-bottom)
  );
}

.contact-buttons ul,
.rating {
  display: flex;
  justify-content: space-around;
}

.useful {
  color: rgb(27, 120, 104);
}
.not-useful {
  color: rgb(228, 83, 57);
  transform: rotate(180deg);
}

.contact-buttons ul li {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 5px;
}

footer {
  border-top: 0.5px solid var(--form-border);
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-family: var(--h2-font);
  font-size: 12px;
  //new css to experiment with
  position: relative;
  height: 64px;
  margin-top: 128px;
  align-items: center;
}

footer {
  position: relative;
  height: 64px;
  margin-top: 128px;
  align-items: center;
}

.heart {
  color: var(--heart);
}

.paw {
  color: var(--paw);
  transform: rotate(35deg);
}

.construction {
  display: flex;
  justify-content: center;
  color: rgb(228, 83, 57);
}

@media only screen and (max-width: 768px) {
  .pages {
    font-size: 2.5rem;
  }
}
