@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');

:root {
  font: 16px / 1 sans-serif;
  --background-gradient-top: #fcfbc5;
  --background-gradient-bottom: #ffffff;
  --form-error-background: rgb(240, 240, 124);
  --img-border: rgba(243, 61, 20, 0.92);
  --map-border: rgb(212, 203, 186);
  --page-text: #46230f;
  --breadcrumb-icons: #2395ff;
  --red: red;
  --paw: saddlebrown;
  --admin-background-color: rgb(212, 203, 186);
  --form-border: rgba(243, 61, 20, 0.92);
  --h1-font: 'Alegreya Sans SC', sans-serif;
  --h2-font: 'Merienda', cursive;
  margin: 0;
}

html {
  height: 100%;
}

main {
  margin: 0;
  min-height: 100vh;
  color: var(--page-text);
  font-family: var(--body-font);
  margin-left: 10px;
  margin-bottom: 50px;
  line-height: 1.3;
}

body {
  margin: 0;
}

header {
  z-index: 10;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  border-bottom: 0.5px solid rgb(225, 225, 225);
  background-color: rgb(255, 255, 255);

  ul {
    display: flex;
    align-content: center;
    text-decoration: none;
    margin: 0;
  }

  li {
    font-size: 28px;
  }

  li + li {
    padding-left: 1rem;
    font-size: 28px;
  }
}
.nav-left img {
  vertical-align: bottom;
  margin-left: 10px;
}

.nav-right {
  padding-right: 10px;

  li a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
  }
}

button a {
  text-decoration: none;
  color: inherit;
}

button,
select {
  box-shadow: 0px 1px 0px 0px #aff3ff;
  background: linear-gradient(to bottom, #64ceff 5%, #23a7ff 100%);
  background-color: #64ceff;
  border-radius: 5px;
  border: 1px solid #4d2210;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #66edff;
}

button:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

button:active,
select,
.file-upload {
  top: 1px;
}

select {
  background: linear-gradient(to bottom, #2395ff 5%, #64c6ff 100%);
  background-color: #ffab23;
}

.asterisks {
  color: var(--red);
}

input,
textarea {
  background-color: rgb(223, 228, 241);
  border-radius: 5px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.breadcrumb {
  ul {
    display: flex;
    justify-content: flex-start;
    font-size: small;
    padding-top: 5px;
    padding-left: 15px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.breadcrumb-icon {
  color: var(--breadcrumb-icons);

  a:hover {
    color: rgba(231, 81, 47, 0.92);
  }
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  align-items: center;
  color: rgb(240, 47, 26);
}

.intro {
  margin: 15px;
}

h2,
h3 {
  font-family: var(--h2-font);
  margin: 1rem;
}

.about {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-background {
  display: flex;
}

.about-icons {
  margin-left: 10px;

  li {
    padding-bottom: 15px;
  }

  h2 {
    text-align: center;
  }
}

.about-link {
  text-decoration: none;
  color: inherit;
  color: rgb(80, 132, 172);
}

.about-link:hover {
  text-decoration: none;
  color: rgb(240, 47, 26);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
}
.seal {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 250px;
}

img.about-seal {
  width: 200px;
  height: 200px;
  margin-left: 10px;
}

input,
textarea {
  max-width: 500px;
}

textarea {
  height: 4rem;
  margin-top: 10px;
}

.top-nav {
  display: flex;
}

.search {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  height: 30px;
}

.search-nav {
  width: auto;
  margin-right: 10px;
}

.search-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.search-box,
.search-dropdown {
  display: flex;
  justify-content: center;
}

.key-header {
  height: auto;
}

.key-icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 5px;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-color: rgb(206, 69, 20);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
  }

  li {
    display: flex;
    justify-content: space-evenly;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.key-left,
.key-right {
  margin: 2rem;
}

.mapboxgl-popup {
  z-index: 1;
}

.map {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  margin-bottom: 1 rem;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 300px;
  background-color: var(--background-gradient-bottom);
  border: var(--map-border);
  border-color: rgb(240, 47, 26);
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.home-map {
  margin: 3rem;
  position: relative;
  overflow: hidden;
  width: auto;
  height: 450px;
  background-color: var(--background-gradient-bottom);
  border: var(--map-border);
  border-color: rgb(240, 47, 26);
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.map-button {
  display: flex;
  justify-content: center;
}

.key-types,
.map {
  display: flex;
  justify-content: center;
}

.mapboxgl-popup-close-button {
  margin-left: 1px;
  padding: 2px;
  position: relative;
  border-radius: 5px;
}
.mapboxgl-popup-content {
  padding: 10rem;
  margin-right: 1px;
}

.adoptions-icon {
  color: rgb(180, 19, 186);
}

.dining-icon {
  color: rgb(148, 65, 26);
}

.grooming-icon {
  color: rgb(10, 122, 150);
}

.medical-icon {
  color: rgb(228, 49, 49);
}

.pet-care-icon {
  color: rgb(179, 90, 17);
}

.recreation-icon {
  color: rgb(50, 138, 26);
}

.residential-icon {
  color: rgb(184, 169, 0);
}

.shopping-icon {
  color: rgb(72, 85, 160);
}

.vacation-icon {
  color: rgb(113, 13, 171);
}

.listing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    background-color: rgb(248, 235, 233);
    padding: 15px;
    margin: 10px;
  }
}

ul.listing {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.listing-display {
  border-color: rgb(206, 69, 20);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color: rgb(253, 255, 224);
}

.listing-heading {
  max-width: 225px;
}

.map-link {
  padding: 0rem 0.5rem;
}

.map-link a,
.mapboxgl-popup-content a {
  text-decoration: none;
  color: inherit;
  color: rgb(80, 132, 172);
}

.listing-heading a:hover,
a.listing-website:hover,
.map-link a:hover,
.mapboxgl-popup-content a:hover {
  text-decoration: none;
  color: rgb(240, 47, 26);
}

.listing-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.listing-graphics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.listings-photo img {
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 225px;
  height: 225px;
}

.listing-photo img {
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 315px;
  height: 315px;
  border: var(--img-border);
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
}

.listing-detail-map {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  width: 315px;
  height: 315px;
  background-color: var(--background-gradient-bottom);
  border-color: rgb(240, 47, 26);
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

.description {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.listing-social-media {
  margin-left: 15px;
}

.logout {
  display: flex;
  align-self: flex-end;
  font-size: 24px;
}

.delete-button {
  background: var(--red);
  margin-left: 10px;
}

.login,
.new-account {
  border-radius: 5px;
  border: 3px;
  border-color: var(--form-border);
  border-style: solid;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.login-button {
  margin-top: 1rem;
}

.picture-upload {
  padding-left: 20px;
}

.input-form-instructions {
  padding-left: 20px;
}

.admin-page {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 3px;
  border-color: var(--form-border);
  border-style: solid;
  margin: 10px;
  padding: 23px;
  background: linear-gradient(
    to bottom,
    var(--background-gradient-top),
    var(--background-gradient-bottom)
  );
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.dropdown {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.new-listing,
.update-listing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 13px;
  font-size: small;
  border-radius: 5px;
  border-color: var(--form-border);
  border-style: solid;
}

.new-user-form {
  margin-left: 65px;
  margin-right: 65px;
  padding-bottom: 30px;
}

.form-error {
  background-color: var(--form-error-background);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.update-listing-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

ul.listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 25px;
  margin: 25px;
  text-align: center;
  color: rgb(48, 46, 44);
  background-color: rgb(255, 204, 102);
}

.contact-buttons ul,
.rating {
  display: flex;
  justify-content: space-around;
}

.contact-buttons ul li {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 5px;
}

.privacy {
  margin: 15px;

  p {
    margin: 25px;
  }

  ul {
    // text-decoration: bullet;
    margin: 15px 40px;
    list-style: disc;
    padding-left: 10px;
  }
  li {
    margin-top: 10px;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  font-family: var(--h2-font);
  font-size: 11px;
  background-color: rgb(157, 221, 240);
  position: relative;
  width: 100%;
  bottom: 0;
  height: 45px;
  align-items: center;
}

.footer-left ul {
  display: flex;
  justify-content: space-around;

  li + li {
    padding-left: 1rem;
  }
}

.footer-right {
  text-align: center;

  a {
    color: inherit;
    cursor: pointer;
  }
}

.heart {
  color: var(--red);
}

.paw {
  color: var(--paw);
  transform: rotate(35deg);
}

.facebook {
  color: blue;
  font-size: 28px;
}
.instagram {
  color: blueviolet;
  font-size: 28px;
}

@media only screen and (max-width: 768px) {
  .pages {
    font-size: 2.5rem;
  }
}
