@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&display=swap');

:root {
  font: 16px / 1 sans-serif;
  --background-gradient-top: #eee2af;
  --background-gradient-bottom: #7fc2dd;
  --img-border: #65bfe2;
  --map-border: rgb(212, 203, 186);
  --page-text: #3b1b09;
  --heart: red;
  --paw: saddlebrown;
  --h1-font: 'Alegreya Sans SC', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--background-gradient-top),
    var(--background-gradient-bottom)
  );
  color: var(--page-text);
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.breadcrumb ul {
  display: flex;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 45px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 150px;
}

.seal {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 250px;
}
main {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.search {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.map {
  display: flex;
  justify-content: center;
}
.map-image {
  display: flex;
  justify-content: center;
  width: 225px;
  height: 225px;
  background-color: var(--background-gradient-bottom);
  border: var(--map-border);
  border-width: 3px;
  border-style: solid;
  padding-bottom: 5px;
  padding-top: 5px;
}

.listing-name {
  display: flex;
  justify-content: center;
}

.listing-photo img {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: var(--img-border);
  border-width: 3px;
  border-radius: 3%;
  border-style: solid;
}

.login {
  height: 1.5em;
  border-radius: 3px;
  border: 3px solid var(--background-gradient-bottom);
  transition: border 0.4s ease-out;
  padding: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
  display: flex;
  justify-content: center;
  flex-wrap: center;
}

.new-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.listing1,
.listing2,
.listing3 {
  display: flex;
  justify-content: center;
}

.address ul,
.phone ul,
.website ul {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
}

.heart {
  color: var(--heart);
}

.paw {
  color: var(--paw);
  transform: rotate(35deg);
}

@media only screen and (max-width: 768px) {
  .pages {
    font-size: 2.5rem;
  }
}
